#img-div {
  text-align: center;
  display: block;
  filter: grayscale(100%);
   width: 100%;
}

img {
  padding-top: 10px;
  height: auto;
  width: 100%;
  max-width: 400%;
  display: block;
}

#title {
  text-align: center;
}

#text-center {
  text-align: center;
}

#img-caption {
  text-align: center;
}

#tribute-info {
  text-align: center;
}

ul {
  padding-left: 50px;
  padding-right: 50px;
}

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;

}

body {
  background: #131417;
  color: white;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}